body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212; 
    color: white;
}

.header {
    background-color: #1e1e1e;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 1;
    text-align: left;
    margin-left: 55px;
}

.right {
    flex: 1;
    text-align: right;
    padding-right: 25px;
}

button {
    padding: 10px 20px;
    margin-left: 25px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.container {
    width: 20%;
    background-color: #1e1e1e; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.container-btn {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.container-btn:hover {
    background-color: #555;
}

.content-display {
    width: 75%;
    height: 50%;
    padding-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    display: none;
    padding: 20px;
    color: white;
    margin-bottom: 10px;
}

.content.hidden {
    display: none;
}

.content:not(.hidden) {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 300px;
    height: 800px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
    border-radius: 1px;
    margin: 10px;
}

.modal-content {
    background-color: #2c2c2c;
    padding: 20px;
    height: 100px;
    border: 1px solid #444;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
}

.logout-link {
    display: block;
    margin-top: 0px;
    background-color: #2c2c2c; 
    color: white; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-link:hover {
    background-color: #403d3d; 
    color: #f2f2f2; 
}
